@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    direction: rtl;
}

ul {
    list-style: none;
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: rgb(245, 244, 244);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
.custom-rounded-input {
    border-radius: 25px;
}
a {
    color: #000 !important;
}
.starability-basic label {
    color: gold;
}
body > section.cards > div > div > div:hover{
    color: #fff !important;
}
.book-list .image-user {
    width: 50px;
    height: 45px;
    margin-left: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.main-button{
    background-color: #222;
    border: 0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}
.custom-offcanvas-width {
    width: 250px;
}
/* Header Start */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;

}

.navbar-light .navbar-brand {
    width: 10%;
}

.navbar-light .navbar-brand img {
    max-width: 110px;
}

.navbar-light form {
    width: 40%;
}

.navbar-light form input {
    border: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    font-size: 12px;
    background-size: cover;
}

.item svg {
    width: 20px;
    margin-bottom: 5px;
}

.after-header {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Header end */
/* Search Box start */
.search-box {
    background-color: #f65656;
    position: relative;
    padding: 5rem 0 6rem 0;
    background-image: url(./img/vector_bg.png);
    background-size: cover;
    min-height: 400px;
    margin-top: 20px;
}

.elementor-shape,
.mad-footer-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
}

.elementor-shape.elementor-shape-bottom,
.mad-footer-shape.elementor-shape-bottom {
    bottom: -1px
}

.elementor-shape.elementor-shape-top,
.mad-footer-shape.elementor-shape-top {
    top: -1px;
}

.elementor-shape svg,
.mad-footer-shape svg {
    display: block;
    width: -webkit-calc(100% + 1.3px);
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.elementor-shape .elementor-shape-fill,
.mad-footer-shape .elementor-shape-fill {
    fill: #f5f4f4;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.search-box-form .elementor-shape-top.elementor-shape .elementor-shape-fill,
.article-header .elementor-shape-top.elementor-shape .elementor-shape-fill {
    fill: #f5f4f4
}

.elementor-shape[data-negative=false].elementor-shape-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mad-footer-shape {
    bottom: calc(96% - 1px);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mad-footer-shape .mad-shape-fill {
    fill: #222;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.mad-footer-shape.red .mad-shape-fill {
    fill: #f65656
}

.search-sec .sec-title h1 {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

.search-sec .search-input {
    position: relative;
    min-width: 70%;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .search-sec .search-input {
        min-width: 80%; 

    }
}

.search-sec .search-input form input {
    width: 100%;
    outline: none;
    padding: 10px 30px;
    border: 0;
    border-radius: 8px;
    height: 60px;
}

.search-sec .search-input span.icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

}

.search-sec .search-input form input::placeholder {
    color: #d8d8d8d7;
    font-size: 16px;
}

.search-sec .sec-foot h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
}

/* Search Box end */

/* cards start */
.cards .card {
    padding: 10px;
    transition: 0.3s;
    border-radius: 8px;
}

.cards .card:hover {
    background-color: #333;
    transform: scale(1.1);
    z-index: 15;
}

.cards .card .card-body h3 a {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    line-height: inherit;
    display: inline-block;
}

.cards .card .card-body {
    padding: 0rem 1rem;
    color: white;
    margin-bottom: 20px;
}

.cards .card:hover .card-body h3 a {
    color: #fff !important;
}
.cards .card:hover .card-body  p a{
    color: #fff !important;
}
.cards .card .card-img {
    padding: 0 10px;
}

.cards .card .card-img img {
    border-radius: 8px;
    min-height: 220px;
}

.cards .card .card-body p {
    margin-bottom: 0.2rem;
}

.cards .card .card-body p a {
    color: #f65656;
    font-size: 12px;
}

/* cards end*/
/* --------------Single Page Start-------------- */
/* Article Title Start */
article {
    margin-top: 20px;
}

article .article-title {
    padding: 60px 0;
    position: relative;
    background-color: #ede9e5;
}

article .article-title h1 {
    font-size: 19px;
    font-weight: 700;
}

/* Article Title End */
/* Article Body Start */
article .article-body .body-head {
    padding: 20px 0;
}

article .article-body .body-head .book-img img {
    max-height: 220px;
    padding: 2px;
    border: 0.3px solid rgba(0, 0, 0, 0.432);
    border-radius: 8px;
}

article .article-body .body-head .book-info .book-name h2 {
    font-size: 19px;
    font-weight: 700;
}

article .article-body .body-head .book-info .book-p p a {
    font-size: 12px;
    font-weight: 600;
    color: #f65656;
}

article .article-body .body-head .all-details {
    gap: 32px;
}

article .article-body .body-head .all-details li {
    position: relative;
}

article .article-body .body-head .all-details li p {
    font-size: 12px;
    font-weight: 600;
}

article .article-body .body-head .all-details li:not(:last-child)::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 50%;
    height: 24px;
    background-color: #333;
    width: 2px;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    article .article-body .body-head .book-info {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

article .article-body .body-disc h3{
    width: 100%;
    padding: 10px 0;
    font-size:18px ;
    color: #333333;
    font-weight: 700;
    border-bottom: 1px solid rgba(105, 105, 105, 0.089);
}
article .article-body .body-disc p{
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.body-disc .buttons .body-btn{
    display: inline-block;
    height: 40px;
    width: 139px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.body-disc .buttons .body-btn span{
    margin-right: 8px;
}
.body-disc .buttons .red{
    background-color: #f65656;
}
/* Article Body End */
/* --------------Single Page End-------------- */
